<a href="https://colab.research.google.com/github/blackipod/hello-world/blob/main/INV6001_Assignment_4_1_Hypothesis_Testing_B_LIMFRANCES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib as mpl
%matplotlib inline

In [ ]:
import seaborn as sns
sns.set(color_codes=True)

In [ ]:
cars = pd.read_csv("https://raw.githubusercontent.com/amitkaps/hackermath/master/data/cars_v1.csv", encoding="ISO-8859-1")

#Is the average mileage of Automatic cars significantly different from the average mileage of Manual cars ?

In [ ]:
cars_Automatic = cars[cars.GearType==' Automatic'].copy().reset_index()
cars_Manual = cars[cars.GearType==' Manual'].copy().reset_index()

In [ ]:
cars

,Make,Model,Price,Type,ABS,BootSpace,GearType,AirBag,Engine,FuelCapacity,Mileage
0,Ashok Leyland Stile,Ashok Leyland Stile LE 8-STR (Diesel),750,MPV,No,500.0,Manual,No,1461.0,50.0,20.7
1,Ashok Leyland Stile,Ashok Leyland Stile LS 8-STR (Diesel),800,MPV,No,500.0,Manual,No,1461.0,50.0,20.7
2,Ashok Leyland Stile,Ashok Leyland Stile LX 8-STR (Diesel),830,MPV,No,500.0,Manual,No,1461.0,50.0,20.7
3,Ashok Leyland Stile,Ashok Leyland Stile LS 7-STR (Diesel),850,MPV,No,500.0,Manual,No,1461.0,50.0,20.7
4,Ashok Leyland Stile,Ashok Leyland Stile LS 7-STR Alloy (Diesel),880,MPV,No,500.0,Manual,No,1461.0,50.0,20.7
...,...,...,...,...,...,...,...,...,...,...,...
828,Volvo V40,Volvo V40 D3 R-Design (Diesel),2770,Hatchback,Yes,324.0,Automatic,Yes,1984.0,62.0,27.8
829,Volvo V40 Cross Country,Volvo V40 D3 Cross Country (Diesel),3180,Hatchback,Yes,335.0,Automatic,Yes,1984.0,60.0,16.8
830,Volvo V40 Cross Country,Volvo V40 T4 Cross Country (Petrol),3240,Hatchback,Yes,324.0,Automatic,Yes,1596.0,50.0,16.0
831,Volvo XC90,Volvo XC 90 D5 Momentum(Diesel),6490,SUV,Yes,NaN,Automatic,Yes,1969.0,68.0,11.1
832,Volvo XC90,Volvo XC 90 D5 Inscription(Diesel),7790,SUV,Yes,NaN,Automatic,Yes,1969.0,68.0,11.1

In [ ]:
print("Average Mileage of Automatic cars:", cars_Automatic.Mileage.mean())
print("Average Mileage of Manual cars:", cars_Manual.Mileage.mean())

Average Mileage of Automatic cars: 15.745466237942114
Average Mileage of Manual cars: 19.112636363636376

In [ ]:
print("Manual Cars' Measures")
print("Mean of Manual cars:", cars_Manual.mean())
print("Mean Mileage of Manual cars:", cars_Manual.Mileage.mean())
print("Standard Deviation of Manual cars:", cars_Manual.Mileage.std())

Manual Cars' Measures
Mean of Manual cars: index            419.719715
Price            726.180523
BootSpace        377.796407
Engine          1450.389021
FuelCapacity      44.213777
Mileage           19.112636
dtype: float64
Mean Mileage of Manual cars: 19.112636363636376
Standard Deviation of Manual cars: 3.7554266333765174

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [ ]:
#Why was this done??
#Confidence interval of manual cars
stats.norm.interval(0.95, loc=cars_Manual.Mileage.mean(), scale = cars_Manual.Mileage.std()/np.sqrt(len(cars_Manual)))

(18.753907497306884, 19.47136522996587)

In [ ]:
print("Automatic Cars' Measures")
print("Mean of Automatic cars:", cars_Automatic.mean())
print("Mean Mileage of Automatic cars:", cars_Automatic.Mileage.mean())
print("Standard Deviation of Automatic cars:", cars_Automatic.Mileage.std())

Automatic Cars' Measures
Mean of Automatic cars: index            413.787634
Price           6075.650538
BootSpace        439.498328
Engine          2421.864499
FuelCapacity      60.094892
Mileage           15.745466
dtype: float64
Mean Mileage of Automatic cars: 15.745466237942114
Standard Deviation of Automatic cars: 4.792689092099954

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [ ]:
stats.norm.interval(0.95, loc=cars_Automatic.Mileage.mean(), scale = cars_Automatic.Mileage.std()/np.sqrt(len(cars_Automatic)))

(15.258436053916315, 16.232496421967912)

In [ ]:
print("Effect size:", cars_Manual.Mileage.mean() - cars_Automatic.Mileage.mean())

Effect size: 3.367170125694262

In [ ]:
stats.ttest_ind(cars_Manual.Mileage, cars_Automatic.Mileage, equal_var=True)

stats.ttest_ind(cars_Manual.dropna()['Mileage'], cars_Automatic.dropna()['Mileage'])

Ttest_indResult(statistic=10.524273397307502, pvalue=1.449502897572518e-23)

In [ ]:
stats.shapiro(cars_Manual.dropna()['Mileage'])

(0.9864928722381592, 0.01601545698940754)

In [ ]:
stats.shapiro(cars_Automatic.dropna()['Mileage'])

(0.989201545715332, 0.056009773164987564)